@font-face {
    font-family: 'BW Gradual';
    src: url(fonts/BwGradualDEMO-Medium.otf);
}
@font-face {
    font-family: 'BW Gradual Bold';
    src: url(fonts/BwGradualDEMO-Bold.otf);
}
@font-face {
    font-family: 'Degular';
    src: url(fonts/Degular-Light.ttf);
}
@font-face {
    font-family: 'BW GradualR';
    src: url(fonts/BwGradualDEMO-Regular.otf);
}
.section1{
    margin-bottom: 10%;
    margin-top: 10%;
}
.Lsection1
{
    font-size: 29px;
    margin-left: 6%;
    margin-top: 7%;
    font-family:'BW Gradual';
    color: rgba(35, 35, 35,.9);
    display: inline-block;
    width: 40%;
}
.Rsection1
{
    display: inline-block;
    width: 60%;
    margin-left: 30%;
    margin-top: -7%;
    
}
.inRsection1
{
    font-size: 65px;
    /* padding-right: 9%; */
    font-family: 'BW Gradual';
    padding-left: 10%;
    
}
.imgs1
{
    height: 50%;
    width: 100%;
    margin-bottom: 100px;
    box-shadow: 5px 6px 7px 5px rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    transition: 0.8s;
}
.imgs1:hover
{
    margin-top: 3%;
}

/*............ Section2............. */

.section2
{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
    margin-top: 5%;
}
.Lsection2
{
    font-size: 95px;
    font-family: 'BW Gradual';
    min-width: 45%;
    margin-right: 8%;
}
.Lsection2_nofill
{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.titleRsection2
{
    color: rgba(29, 29, 29, 0.9);
    font-size: 27px;
    font-family: 'BW Gradual' ;
    line-height: 32px;
    margin-bottom: 7%;
    padding-right: 10%;
    padding-top: 5%;

}
.topRsection2
{
    color: rgba(36, 36, 36, 0.9);
    font-size: 25px;
    font-family: 'Degular' ;
    line-height: 31px;
    padding-right: 7%;
    margin-bottom: 14%;

}
.botinRsection2
{
    color: rgba(36, 36, 36, 0.9);
    margin-top: 3%;
    font-size: 20px;
    font-family: 'BW Gradual';
    display: flex;
    align-items: center;
}

/*............ SmallArrow............. */

.img3
    {
      height: 30px;
    }
    .imgsection3
    {
       margin-left: 5%;
       transition: 0.5s;
    }
    .imgsection3:hover
    {
        cursor: pointer;
       transform: translateX(14%);
    }

    /*............ marquee............. */

    .marquee-w
    {
        position: relative;
        display: block;
        width:100%;
        height: 300px;
        top: 505;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        
    }
    .marquee
    {
        position: absolute;
        display: block;
        margin: auto auto;
        white-space: nowrap;
        overflow: hidden;
        min-width: 100%;
        height: 100%;
       
    }
    .marquee span{
        display: inline-block;
        font-family: 'BW Gradual Bold';
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;
        font-size: 175px;
        animation: marquee 32s linear infinite;
        line-height: 300px;
        text-align: center;
        padding-left: 105%;
        white-space: nowrap;
    }
    .marquee2 span
    {
     animation-delay:16s;
    }
    @keyframes marquee
    {
        0%{
            transform: translate(0,0);
        }
        100%{
            transform: translate(-100%,0);
        }

    }

    /*............ Section3............. */

    .section3
    {
        display: flex;
        margin-bottom: 25%;
    }
    .Lsection3
    {
        width: 100%;
        margin-left: 4%;
        max-width: 35%;
        margin-top: 15%;
        transition: 1s;
    }
    .inRsection3
    {
        width: 100%;
        box-shadow: 5px 6px 7px 5px rgba(0, 0, 0, 0.5);
        border-radius: 1%;
        transition: 0.8s;
    }
    .Lsection3:hover
    {
        width: 101%;
        margin-top: 17%;
    }
    .Rsection3
    {
        
        padding-left: 8%;
        width: 65%;
        padding-right: 4%;
        transition: 0.7s;
    }
    .Rsection3:hover
    {
        margin-top: 2%;
    }
    .upinLsection3
    {
        font-size: 40px;
        font-family: 'BW Gradual';
        line-height: 60px; 
        padding-bottom: 4%;  
    }
    .midinLsection3
    {
        font-size: 23px;
        font-family: 'Degular' ;
        line-height: 32px;
        padding-bottom: 13%;

    }
    .botinLsection3
    {
        font-size: 20px;
        font-family: 'BW GradualR';
        display: flex;
        align-items: center;
    }
/*............ Section4............. */
    
