.images-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images-1,.images-2{
    display: flex;
    align-items: center;
    margin-bottom: 93px;
    position: relative;
}
.image-1 img,.image-2 img,.image-3 img,.image-4 img,.image-5 img,.image-6 img,.image-7 img,.image-8 img{
    border-radius: 20px;
    object-fit: cover;
    width: 275.46px;
    height: 140.55px;
    margin-right: 20px;
    position: relative;
    transition: transform 500ms;
}
.black-box{
    position: absolute;
    background-color: black;
    width: 275.46px;
    height: 140.55px;
    top: 0px;
    border-radius: 20px;
    opacity: 0.49;
    transition: transform 500ms;
}
.image-1 .name, .image-2 .name, .image-3 .name ,.image-4 .name ,.image-5 .name ,.image-6 .name, .image-7 .name, .image-8 .name{
    font-family: 'Degular';
    color: #FCFCFC;
    font-size: 22px;
    top: -17px;
    transition: transform 500ms;
}
.image-1 .projects, .image-2 .projects, .image-3 .projects ,.image-4 .projects ,.image-5 .projects ,.image-6 .projects, .image-7 .projects, .image-8 .projects{
    font-family: 'Degular';
    color: #FCFCFC;
    font-size: 13px;
    transition: transform 500ms;
}
.image-1 .name{
    position: absolute;
    left: 1px;
}
.image-2 .name{
    position: absolute;
    left: 23.7%;
}
.image-3 .name{
    position: absolute;
    left: 49.5%;
}
.image-4 .name{
    position: absolute;
    left: 74.5%;
}
.image-5 .name{
    position: absolute;
    left: 1px;
}
.image-6 .name{
    position: absolute;
    left: 24.5%;
}
.image-7 .name{
    position: absolute;
    left: 49.5%;
}
.image-8 .name{
    position: absolute;
    left: 74.5%;
}
.image-1 .projects{
    position: absolute;
    bottom: -4px;
    right: 77.5%;
    z-index: 10;
}
.image-2 .projects{
    position: absolute;
    bottom: -4px;
    right: 52.5%;
    z-index: 10;
}
.image-3 .projects{
    position: absolute;
    bottom: -4px;
    right: 27.5%;
    z-index: 10;
}
.image-4 .projects{
    position: absolute;
    bottom: -4px;
    right: 2.5%;
    z-index: 10;
}
.image-5 .projects{
    position: absolute;
    bottom: -4px;
    right: 77.5%;
    z-index: 10;
}
.image-6 .projects{
    position: absolute;
    bottom: -4px;
    right: 52.5%;
    z-index: 10;
}
.image-7 .projects{
    position: absolute;
    bottom: -4px;
    right: 27.5%;
    z-index: 10;
}
.image-8 .projects{
    position: absolute;
    bottom: -4px;
    right: 2.5%;
    z-index: 10;
}
.image-1:hover img,.image-1:hover .black-box,.image-1:hover .name,.image-1:hover .projects{
    transform: translate(-2px,-4px);
}
.image-2:hover img,.image-2:hover .black-box,.image-2:hover .name,.image-2:hover .projects{
    transform: translate(-2px,-4px);
}
.image-3:hover img,.image-3:hover .black-box,.image-3:hover .name,.image-3:hover .projects{
    transform: translate(-2px,-4px);
}
.image-4:hover img,.image-4:hover .black-box,.image-4:hover .name,.image-4:hover .projects{
    transform: translate(-2px,-4px);
}
.image-5:hover img,.image-5:hover .black-box,.image-5:hover .name,.image-5:hover .projects{
    transform: translate(-2px,-4px);
}
.image-6:hover img,.image-6:hover .black-box,.image-6:hover .name,.image-6:hover .projects{
    transform: translate(-2px,-4px);
}
.image-7:hover img,.image-7:hover .black-box,.image-7:hover .name,.image-7:hover .projects{
    transform: translate(-2px,-4px);
}
.image-8:hover img,.image-8:hover .black-box,.image-8:hover .name,.image-8:hover .projects{
    transform: translate(-2px,-4px);
}
