@font-face {
    font-family: 'BW Gradual';
    src: url(fonts/BwGradualDEMO-Light.ttf);
}
@font-face {
    font-family: 'BW Gradual Bold';
    src: url(fonts/BwGradualDEMO-Bold.ttf);
}
@font-face {
    font-family: 'Degular';
    src: url(fonts/Degular-Light.ttf);
}
.links{
    text-decoration: none;
    color: #FCFCFC;
}
.egy-image{
    object-fit: cover;
    width: 1950px;
    height: 679.51px;
    opacity: 0.53;
}
.container{
    position: relative;
    text-align: center;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-box p{
    font-family: 'BW Gradual Bold';
    color: white;
    font-size: 42px;
    margin: 0;
    align-items: center;
    padding-right: 75px;
}
.grad-box{
    background-image: linear-gradient(to bottom, #1D3557, #43699E);
    width: 624px;
    height: 209px;
    border-radius: 25px;
    opacity: 0.75;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.radiobox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.container2{
    display: flex;
    flex-direction: column;
}
.developements{
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
    margin-bottom: 22px;
    margin-right: 15px;
}
.developements select{
    width:140px;
    height:40px;
    border:0px;
    outline:none;
}
.location{
    margin-right: 15px;
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
    margin-top: 26px;
}
.location select{
    width:200px;
    height:40px;
    border:0px;
    outline:none;
}
.developements-txt{
    padding-right: 55px;
    color: white;
    font-family: 'BW Gradual';
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.budgetrange{
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
    margin-top: 26px;
}
.budgetrange select{
    width:200px;
    height:40px;
    border:0px;
    outline:none;
}
.search-b{
    padding-right: 30px;
    padding-top: 30px;
    margin-bottom: 25px;
}
.search-button{
    width: 189px;
    height: 55px;
    border: 1px solid #FCFCFC;
    background-color: Transparent;
    font-size: 16px;
    font-family: 'BW Gradual Bold';
    color: #FCFCFC;
}
.feature-location{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-right: 75px;
}
.feature-location-txt{
    font-size: 35px;
    font-family: 'BW Gradual Bold';
    color: #FCFCFC;
    display:inline-block;
    position:relative;
    margin-bottom: 90px;
}
.feature-location::after{
    content:'';
    height: 1px;
    width: 14%;
    background:#FCFCFC;
    position:absolute;
    left: calc(50% - 9%);
    bottom: -1px;
}
.more-locations{
    display: flex;
    justify-content: center;
    margin-right: 75px;
}
.more-locations-txt{
    font-size: 20px;
    font-family: 'BW Gradual';
    color: #FCFCFC;
    display:inline-block;
    position:relative;
    margin-bottom: 90px;
}
.more-locations::after{
    content:'';
    height: 1px;
    width: 8%;
    background:#FCFCFC;
    position:absolute;
    left: calc(50% - 6%);
    bottom: -585px;
}
.properties-sale{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-right: 75px;
}
.properties-sale-txt{
    font-size: 35px;
    font-family: 'BW Gradual Bold';
    color: #FCFCFC;
    display:inline-block;
    position:relative;
    margin-bottom: 90px;
}
.properties-sale::after{
    content:'';
    height: 1px;
    width: 12.5%;
    background:#FCFCFC;
    position:absolute;
    left: calc(50% - 7.8%);
    bottom: -875px;
}
