@font-face {
    font-family: 'BW Gradual';
    src: url(fonts/BwGradualDEMO-Light.ttf);
}
@font-face {
    font-family: 'BW Gradual Bold';
    src: url(fonts/BwGradualDEMO-Bold.ttf);
}
@font-face {
    font-family: 'Degular';
    src: url(fonts/Degular-Light.ttf);
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background: #313131;
}
.marquee-w {
    position: relative;
    display: block;
    width: 950px;
    height: 140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    font-family: 'BW Gradual';
    text-align: center;
    -webkit-text-stroke: 1px #43e486;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 140px;
    font-size: 85px;
    animation: marquee 10s linear infinite;
}
.marquee2 span {
    animation-delay: 5s;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}


























/*body {
    text-align:center;
    background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    color:#555;
    font-family:'Roboto';
    font-weight:300;
    font-size:32px;
    padding-top:40vh;
    height:100vh;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
  }
  
  div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  div:first-of-type {    For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now 
    animation: showup 7s infinite;
  }
  
  div:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
  div:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
  
  p {
    font-size:12px;
    color:#999;
    margin-top:200px;
  }*/